<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.symptoms">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:background="@color/white"
        android:icon="@drawable/ic_app_icon_2"
        android:label="Symptoms"
        android:roundIcon="@drawable/ic_app_icon_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ActivitySelectSymptoms"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ActivitySelectBodySubLocation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivitySymptomsCaseDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityRegister"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityAccount"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityLogin"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivitySelectBodyLocation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityStart"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>